/node_modules
/public/hot
/public/storage
/storage/*.key
/output
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
crud.sublime-workspace
.env
/extras/detalles.txt
/extras/*.mwb.bak
/public/evidencias/*
